/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
    background-color: white; /* Default background */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background-color 0.5s; /* Smooth transition for background */
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Behind all other content */
}

.logo-container {
    cursor: pointer;
    z-index: 2; /* Ensure it's above the canvas */
}

.logo {
    width: 300px;
    height: 300px;
    transition: transform 2s ease-in-out;
}

.pulsing {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.social-icons {
    display: flex;
    justify-content: center;
    z-index: 2; /* Ensure social icons are visible and clickable */
}

.social-icon {
    width: 50px; /* Ensure social icons have a fixed size */
    height: 50px;
    margin: 0 10px;
}
