body, html {
    margin: 0;
    padding: 0;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
    background-color: white; /* Default background */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background-color 0.5s; /* Smooth transition for background */
}

.active-state {
    background-color: black; /* Toggle to black background */
}

.logo-container {
    cursor: pointer;
    z-index: 2; /* Ensure it's above the canvas */
    margin: 50px; /* Adds margin to prevent clipping */
}

.logo {
    width: 100px; /* Default smaller size */
    height: 100px;
    transition: transform 2s ease-in-out;
    transform-origin: center; /* Ensures pulsing happens centrally */
}

.pulsing {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2); /* Moderate scaling to prevent clipping */
    }
}

@media (min-width: 768px) { /* Adjustments for larger screens */
    .logo {
        width: 300px; /* Larger size on desktop */
        height: 300px;
    }
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Ensure it's behind all other content */
}

.social-icons {
    display: flex;
    justify-content: center;
    z-index: 2; /* Ensure social icons are visible and clickable */
}

.social-icon {
    width: 50px; /* Fixed size for social icons */
    height: 50px;
    margin: 0 10px;
}
